.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  color: navy;
  font-size: 16px;

  background-color: aliceblue;
}

header,
footer,
main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
