.app {
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  background-color: aliceblue;

  color: navy;
  font-size: 16px;
}

header,
footer,
main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
